html {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
